* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.auth-container {
    text-align: center;
    background-color: rgb(248, 248, 248);
    flex: 1 0 auto;
    min-height: auto;
    position: relative;
}


.main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #160404;
    background-color: #afd4e7;
    padding: 10px;
    text-align: center;
}

.main-sub-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-bottom: 15px;
    background-color: #afd4e7;
}

.site-info {
    margin: 0px 30px;
    padding: 10px 25px 25px;
    border-radius: 4px;
}

.small-text {
    color: #160404;
    margin-top: 5px;
    cursor: pointer;
}

.login-form-container {
    margin: 0px 55px 0px 55px;
    text-align: center;
}

.login-form-container input,
.prompt-form input,
.entry-form input {
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    padding: 4px;
}

button {
    padding: 10px;
    background-color: #323439;
    border: solid 1px #160404;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

img {
    height: 200px;
    border-radius: 4px;
    margin-top: 8px;
}

.navbar {
    /* background-color: antiquewhite; */
    background-color: #323439;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    /* margin-bottom: 10px; */
}

.nav-link {
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    /* color: #160404; */
    color: white;
    margin-right: 25px;
}

ul li {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    padding: 15px;
    border: 1px solid #323439;
    border-radius: 4px;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    background: #323439;
    z-index: 1;
}

/* .title-link is absolute to make the whole card clickable */
/* So if .dropdown is absolute, menu items over the card aren't clickable */
/* made space under the dropdown */

li:hover {
    cursor: pointer;
}


ul li:hover>ul,
.dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 180px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 6px 2px 6px;
    /* font-size: 14px; */
    border-radius: 4px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

.link {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
}

.main-container {
    flex: 1 0 auto;
    min-height: auto;
    position: relative;
    background-color: rgb(248, 248, 248);
    /* background-color: #bbcddb54; */
}

.profile-container,
.public-container {
    flex: 1 0 auto;
    min-height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.welcome {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 22px;
    padding-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.entries-container,
.prompts-container {
    padding-top: 15px;
    text-align: center;
}

.entry-heading, .prompt-heading {
    margin-top: 150px;
    padding-top: 8px;
    border-top: 1px solid #323439;
}

.saved-entry,
.prompt {
    margin: 28px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: #3f5957 0px 3px 8px;
    background-color: rgba(255, 255, 255, 1);
}

.saved-entry {
    cursor: pointer;
    position: relative;
}

.prompt h5 {
    font-size: 18px;
    margin-bottom: 8px;
}

.prompt button {
    margin-top: 15px;
}

.title-link {
    text-decoration: none;
    color: #160404;
    font-weight: bold;
    line-height: .5em;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 15px;
}

.title-link:hover {
    cursor: pointer;
}

.summary-text {
    margin: 18px 0px 18px 0px;
}

.entry-stats-container {
    display: flex;
    justify-content: space-between;
}

.expanded-entry-container {
    flex: 1 0 auto;
    min-height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 25px 20px 0px 20px;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}

.expanded-title {
    margin-bottom: 8px;
}

.expanded-text-body {
    margin-top: 35px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #160404;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 25px 35px 25px 35px;
}

.profile-form-container,
.edit-form-container {
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.edit-form-container {
    padding-right: 25px;
    padding-left: 25px;
}

.profile-form-container h3 {
    margin-bottom: 8px;
}

.prompt-form,
.entry-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.prompt-form {
    padding-bottom: 25px;
    border-bottom: 1px solid #160404;
}

.entry-form textarea {
    height: 270px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
}

.comment-form textarea {
    height: 100px;
    width: 210px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
}

.comments-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-container {
    margin-top: 10px;
    border-top: 1px solid #323439;
    min-width: 75vw;
}

.comment-text {
    padding: 5px;
}

.footer {
    flex-shrink: 0;
    background-color: #323439;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 13px;
}


@media (min-width: 576px) {
    .saved-entry {
        margin-right: 50px;
        margin-left: 50px;
    }

    img {
        margin-top: 25px;
    }

    .expanded-entry-container {
        margin: 40px 50px 0px 50px;
    }

    .button-container {
        margin-right: 70px;
        margin-left: 70px;
    }

    .profile-form-container {
        padding: 55px;
    }

    .comment-form textarea {
        width: 300px;
    }

    .comment-container {
        margin-top: 25px;
    }

    .comment-text {
        padding: 10px;
    }
}

@media screen and (min-width: 768px) {
    .auth-page-container {
        display: flex;
    }

    .main-sub-title {
        margin-bottom: 15px;
    }

    .login-form-container {
        padding-top: 10px;
    }

    img {
        margin: 30px 55px 0px 10px;
    }

    .saved-entry {
        width: 70vw;
        margin-right: auto;
        margin-left: auto;
    }

    .expanded-entry-container {
        width: 75vw;
        margin-right: auto;
        margin-left: auto;
    }

    .button-container {
        margin-right: 145px;
        margin-left: 145px;
    }

    .prompts-container {
        margin-right: 80px;
        margin-left: 80px;
    }

    .comment-form textarea {
        width: 400px;
    }
}

@media (min-width: 992px) {
    .auth-page-container {
        margin-right: 50px;
        margin-left: 50px;
    }

    .site-info {
        margin: 30px 50px 30px 50px;
    }

    img {
        height: 250px;
        margin: 50px 65px 0px 10px;
    }

    .saved-entry {
        width: 50vw;
    }

    .button-container {
        margin-right: 235px;
        margin-left: 235px;
    }

    .profile-form-container {
        padding-right: 75px;
        padding-left: 75px;
    }

    .comment-form textarea {
        width: 500px;
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .main-title {
        padding-top: 25px;
    }

    img {
        height: 300px;
    }

    .button-container {
        margin-right: 300px;
        margin-left: 300px;
    }
}